body {
  background:url('../images/debut_light.png') repeat;
  font-family: 'Maven Pro', sans-serif;
}

.row {
  margin-top: 2rem;
}

.navbar {
  background-color: #283744;
}

.jumbotron {
  background:url('../images/grey_wash_wall.png') repeat;
  padding-top: 125px;
}

@media (min-width: 576px) {
  #jumbotron {
    padding: 0;
  }
}

.thumbnail {
  border: none;
  max-height: 150px;
  background-color:transparent;
  padding-bottom: 0.5rem;
}

#portfolio {
  padding: 40px 0 100px 0;
  margin-top: -40px;
}

#about {
  padding: 40px 0 100px;
  margin-top: -40px;
  background-color: #dedede;
}

#contact {
  padding: 40px 0 0 0;
  margin-top: -40px;
}

section#contact .form-group textarea.form-control {
  height: 145px;
}

footer {
  background-color: #283744;
  color: lightGray;
  padding: 20px;
  margin-top: 118px;
}